* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://wallpapercave.com/wp/wp11923321.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    color: rgb(9, 133, 40);
    backdrop-filter: blur(2px);
    position: absolute;
    top: 50%;
    border: 1px solid white;
    border-radius: 15px;
    background-color: rgba(5, 5, 5, 0.5);
    height: 20rem;
    width: 30%;
    position: absolute;
    top: 25%;
    
}
h1 {
    font-size: 50px;
    margin: 0;
}
input {
    border: 1px solid rgb(6, 136, 12);
    border-radius: 100px;
    outline: none;
    background-color: transparent;
    color: rgb(7, 7, 4);
    padding: 0.5rem 0.5rem;
    width: 23rem;
    font-size: medium;
}
input::placeholder {
    color: rgb(14, 10, 10);
    opacity: 0.5;
    padding: 0 0.1rem;
}
button {
    width: 15rem;
    height: 2rem;
    border: none;
    border-radius: 7px;
    color: rgb(31, 206, 69);
    background-color: rgb(35, 114, 47);
}
button:hover {
    background-color: rgb(70, 126, 65);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button:active {
    background-color: rgb(80, 80, 80);
    transform: translateY(4px);
}